# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


#-------------------------------------------------
# General

# 8080
PORT=

# 10 
BCRYPT_SALT=10

#localhost
HOST=

#http://localhost:3000
CLIENT_URL=
#-------------------------------------------------
# Database
# depending on which database you are using, the credentials might be different

DB_CONNECTOR=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=
# postgresql://<DB_USERNAME>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_DATABASE>
# for example: postgresql://postgres:root@localhost:5432/ink_test
DATABASE_URL=

#---------------------------------------------------
# Jwt options
JWT_PRIVATE_KEY=
JWT_REFRESH_PRIVATE_KEY=
JWT_PUBLIC_KEY=
#HS256
JWT_ALGORITHM=
# 900
JWT_EXPIRE_TIME=
# 86400
JWT_EXPIRE_REFRESH_TIME=


SESSION_SECRET=
